<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Avail</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/profile.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/bulma.css"/>
</head>
<body>
  
  <nav class="navbar has-background-primary" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/login"><img id="logo" src="/assets/img/icon.png" alt="calendar logo"/></a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/logout">Log out</a>
        <a class="navbar-item" href="/login">Editor</a>
        <a class="navbar-item" href="/profile">Profile</a>
        <!--a class="navbar-item" href="/schedule">Schedule</a-->
      </div>
    </div>
  </nav>
  <section id="welcome"><h1>Welcome, {{name}}!</h1></section>
  <div id="premium">
      <h2>Go premium!</h2>
      <div class="control">
        <button class="button is-link" id="goPremium">"Pay"</button>
      </div>
  </div>
  <section id="friends">
    <section id="currentFriends">
      Current Friends
    </section>
    <section id="sendRequest">
      Send request
    </section>
    <section id="friendRequestsOut">
      Outgoing Friend Requests
    </section>
    <section id="friendRequestsIn">
      Incoming Friend Requests
    </section>
  </section>

  <div id="blocksetMessage" class='hidden'>
    <!--img id="speech" src="/assets/img/speech.png" alt="speech box"/-->
    <h3><span id="errorMessage"></span></h3>
    <!--img id="blockset" src="/assets/img/icon.png" alt="cal"/-->
  </div>

  <script src="/assets/profileBundle.js"></script>
</body>
</html>
