html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#logo {
    height: 60px;
    padding-top: 5px;
    float:left;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.mainForm {
    height: 300px;
    width: 80%;
    min-width: 440px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#blocksetMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#blocksetMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#blockset {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 700px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#blocksets {
    width: 80%;
    min-width: 700px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.deleteSubmit {
    width: 90px;
    margin-left: auto;
    float: right;
    display: inline;
}

.deleteBlockForm {
    display: inline;
}

.blockname {
    font-size: 1.4em;
    font-weight: bold;
    display: inline;
}

.block {
    width: 95%;
    height: 4em;
}
.block>* {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.blocklist {
    background-color: #F2E7C7;
    color: #5C2E23;
}

.blockset {
    margin: 2rem;   
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #5C2E23;
}

.blockset>* {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 98%
}

.blocksetName h3 {
    display: inline;
}

.deleteBlocksetForm {
    display: inline;
    float: right;
}